<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <provider
            android:name="com.proxy.service.core.framework.io.uri.ProxyProvider"
            android:authorities="${applicationId}.proxy_core_provider"
            android:exported="false"
            android:grantUriPermissions="true"/>

        <receiver android:name=".framework.app.event.broadcast.BroadcastReceiverImpl"
            android:exported="true">
            <intent-filter>
                <action android:name="com.proxy.service.core.framework.Event" />
            </intent-filter>
        </receiver>

    </application>

</manifest>